{
  "configurations":[
    {
      "log_file" : "/Users/xelvias/Workings/Logan/src/test/resources/samplelogfile.log",
      "application_name": "application - 1",
      "users" : [
        {
          "name" : "nimal",
          "email" : "nimal@example.com",
          "phone" : "0000000",
          "notificationTypes" : ["email","sms"]
        },
        {
          "name" : "kamal",
          "email" : "kamal@example.com",
          "phone" : "0000000",
          "notificationTypes" : ["email"]
        }
      ]
    },
    {
      "log_file" : "/Users/xelvias/Workings/Logan/src/test/resources/samplelogfile.log",
      "application_name": "application - 2",
      "users" : [
        {
          "name" : "saman",
          "email" : "saman@example.com",
          "phone" : "0000000",
          "notificationTypes" : ["email","sms"]
        }
      ]
    }

  ]
}